<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valentine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body style="background: #d8d8d8;">
    <section class="page-container">
        <div class="man-side column">
            <div class="hearts">
                <i class="fa fa-heart heart1"></i>
                <i class="fa fa-heart heart2"></i>
                <i class="fa fa-heart heart3"></i>
            </div>
        </div>
        <div class="column">
            <div class="title-text"><span class="change-color" style="font-size: 35px;">Outsource</span> Valentine</div>
            <div class="rose-loader"></div>
            <div class="btn-ctn">
                <a href="/employee/spinner">Find your val</a>
            </div>
        </div>
        <div class="woman-side column"></div>
        
        <!-- <img src="images/guy.png" alt=""> -->
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>